  <div class="container-inner inner-default clearfix">
    <% items.each do |item| %>
      <div class="item-box">
        <%= render 'items/item_img' , item: item %>
      </div>
    <% end %>
  </div>




<!--前のコード
<div class="container">
  <div class="container-inner inner-default clearfix">
    <% items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% if item.large_image.present? %>
               <%= render 'items/item_img' , item: item %>
            <% else %>
               <%= render 'items/item_img' , item: item %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= item.title %>
          </p>
        </div>
        <%= render 'items/action' , item: item if logged_in? %>
      </div>
    <% end %>
  </div>
</div>
-->